<!-- your html code here -->
<div class="p-5 px-0 mb-4 margin">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Contact</h1>
        <p class="fs-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <form class="container p-5">
        <div class="mb-3 input-group">
            <label for="" class="form-label fw-bold fs-5">Your E-mail</label>
            <input type="email" class="form-control ms-5" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="input-group">
            <label for="" class="form-label me-4 pe-1 fw-bold fs-5">Your Message</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-primary fs-5">Submit</button>
        </div>
    </form>
</div>