<!-- your html code here -->
<div class="p-5 px-0 border-top margin d-flex justify-content-between">
    <div class="container-fluid py-5 ps-5 ms-5">
        <h1 class="display-5"><b class="fw-bold">The First Heading</b> Will Cath Your Eye.</h1>
        <p class="col-md-8 fs-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
    </div>
    <div class="pe-5" style="margin-right: 8rem;">
        <img src="./assets/img/2.jpg" class="rounded-circle" alt="...image 1">
    </div>
</div>