<!-- your html code here -->
<div class="p-5 px-0 border-bottom margin">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Portfolio</h1>
        <p class="fs-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border border-0">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>